.header {
    display: flex;
    background-color: #6886C5;
    padding: 10px 70px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 45px;
}


.search {
    display: flex;
    background-color: #F9F9F9;
    border-radius: 4px;
    padding: 0;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 30px;
    width: 50%;
}

.searchInput {
    background-color: transparent;
    stroke: none;
    color: #525E75;
    border-width: 0px;
    outline: none;
    margin: 0;
    padding: 0 10px;
    width: 95%;
    height: 100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

input::placeholder {
    color: #B5B7BB;
}

.searchButton {
    background-color: #A6E3E9;
    border-radius: 4px;
    border-width: 0px;
    height: 100%;
    width: 30px;
    margin: 0;
}

.searchButton:hover {
    cursor: pointer;
}

.searchIcon, .loginIcon {
    color: #F3F8FF;
}

.login, .profileBtn {
    display: flex;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-width: 0px;
    outline: none;
}

.login:hover, .profileBtn:hover {
    cursor: pointer;
}

.loginText, .profileBtnText {
    color: #F3F8FF;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin: 0 10px;
}

.profileBtnIcon {
    display: flex;
    padding: 0;
    flex-direction: row;
    align-items: center;
    margin: 0;
    color: #A6E3E9;
}