.card {
    background-color: #CCDAF5;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 332px;
    max-height: 164px;
    min-width: 280px;
    min-height: 120px;
    width: 65vh;
    height: 30vh;
    padding: 24px 24px;
    margin: 0 10px;
}

.card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.cardImageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.cardImage {
    height: 80%;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.cardTitle {
    color: #525E75;
    font-weight: 600;
    margin-top: 0;
    font-size: 18px;
}

.cardPrice, .cardTimeLeft {
    color: #71819E;
    font-weight: 500;
    margin-top: 0;
    font-size: 16px;
}